<div class="container my-5">
  <h2 class="fw-bold mb-4">My Cart</h2>

  <% if @cart_items.any? %>
    <% @cart_items.each do |product| %>
      <div class="d-flex justify-content-between align-items-center border p-3 mb-3">
        <div>
          <h5><%= product.name %></h5>
          <p>Qty: <%= session[:cart][product.id.to_s] %></p>
        </div>

        <div class="fw-bold">
          ₱ <%= product.discount_price * session[:cart][product.id.to_s] %>
        </div>

        <%= button_to "Remove",
              remove_cart_index_path(product_id: product.id),
              method: :delete,
              class: "btn btn-sm btn-danger" %>
      </div>
    <% end %>

    <%= link_to "Proceed to Checkout",
      checkout_index_path,
      class: "btn btn-success btn-lg mt-3" %>

  <% else %>
    <p>Your cart is empty</p>
  <% end %>
</div>
